@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);;color:white;">
            Members:Braga Elena-Isabella, Căpățînă Andrei, Croitoriu Dan-Alexandru, Rotaru Robert-Ioan
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
